.App {
  text-align: center;
}

body, html{
  height: 100%;
  width: 100%;
  background-color: #89CFF0;
}

.vertical-timeline-element-date {
  font-weight: bolder !important;
  align-items: center !important;
}